#lf1{left: 185px;}#lf2{left:311px;}#lf3{left:437px;}#lf4{left:563px;}#lf5{left:690px;}#lf6{left:816px;}
img.box{height: 45px;  position: absolute; width: 110px; z-index:1; }
img.boxr1{top: 130px;}
img.boxr2{top: 220px;}
div.boxtxt{height 25px; position:absolute; width: 110px; z-index: 1;}
div.boxtxtr1{top: 140px;}
div.boxtxtr2{top: 230px;}
