@font-face {
    font-family: "df";
    src: url("https://home.blrocky.com/fonts/DoubleFeature20.ttf") format("truetype");
}

.df {
    font-family: "df";
}
@font-face {
	font-family: "CS";
	src: url("https://home.blrocky.com/fonts/Can-stamp.ttf") format("truetype")
}
.CS {
	font-family: "CS";
}


		body {
			background: #000000;
			padding: 200px;
			font-family: sans-serif;
			
		}

		.content {
			max-width: 800px;
			margin: auto;
		
		}
		a{
			text-decoration: none;
		}
		a:link
		{
			color: red;
		
		}
		a:visited
		{
			color: pink;
		}
		img.logo
		{
			border: none; height: 175px; left: 25px; opacity: 1.00; position: absolute; top: 20px; width: 180px; z-index: 1;
		}
		img.graphic_textbox_style_default
		{
			height: 25px;
			position: absolute;
			z-index: 1;

		}
		img.top_head
		{
			left: 250px;top: 0px; width: 550px; z-index: 1;
		}
		a.header
		{
			font-family: 'Helvetica-Bold', 'Helvetica', 'Arial', 'sans-serif'; 
			font-size: 16px; font-style: normal; font-variant: normal; font-weight: bold; letter-spacing: 0; line-height: 23px;

		}
		
		p.fb-event
		{
			font-family: "df";
			color: blue;
			position: relative;
			left: 250px;
			top: -7rem;
			font-size: 2rem;
			line-height: 2.1rem;
			
		}
		p.insta
		{
			font-family: "df";
			color: violet;
			position: absolute;
			font-size: 5rem;
			line-height: 5rem;
			
		}
		p.fb
		{
			font-family: "df";
			color: blue;
			position: absolute;
			
			font-size: 5rem;
			line-height: 5rem;
			

		}

