@font-face {
    font-family: "df";
    src: url("https://home.blrocky.com/fonts/DoubleFeature20.ttf") format("truetype");
}

.df {
    font-family: "df";
}
@font-face {
	font-family: "CS";
	src: url("https://home.blrocky.com/fonts/Can-stamp.ttf") format("truetype")
}
.CS {
	font-family: "CS";
}
@font-face

		body {
			background: #000000;
			topmargin: 0;
			leftmargin: 0;
			padding: 200px;
			font-family: sans-serif;
		}

		.content {
			max-width: 800px;
			margin: auto;
		
		}

