@font-face {
    font-family: "df";
    src: url("https://home.blrocky.com/fonts/DoubleFeature20.ttf") format("truetype");
}

.df {
    font-family: "df";
}
@font-face {
	font-family: "CS";
	src: url("https://home.blrocky.com/fonts/Can-stamp.ttf") format("truetype")
}
.CS {
	font-family: "CS";
}


		body {
			background: #000000;
			padding: 200px;
			font-family: sans-serif;
			
		}

		.content {
			max-width: 800px;
			margin: auto;
		
		}
		a:link
		{
			color: red;
		
		}
		a:visited
		{
			color: pink;
		}
		img.logo
		{
			border: none; height: 175px; left: 25px; opacity: 1.00; position: absolute; top: 20px; width: 180px; z-index: 1;
		}

